In [1]:
import requests
import bs4 as BeautifulSoup

from selenium import webdriver
from selenium.webdriver import ActionChains

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

import requests
from bs4 import BeautifulSoup
import re
import json
import ast

In [2]:
import requests
import bs4 as BeautifulSoup

from selenium import webdriver
from selenium.webdriver import ActionChains

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

URL = 'https://www.sebi.gov.in/sebiweb/other/OtherAction.do?doMfd=yes&type=4'

driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get(URL)

====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/103.0.5060.134/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134]

In [5]:
import pandas as pd
from datetime import datetime

from selenium.webdriver.common.by import By

list_of_tables = driver.find_elements(By.TAG_NAME,"tbody")

list_of_rows = list_of_tables[0].find_elements(By.TAG_NAME,"tr")

list_of_dictionaries = []

n_rows = len(list_of_rows)

i = 0
j = 0

while i in range(0,n_rows):
    
    temp_dictionary = {}
    selected_row = list_of_rows[i]
    
    cell_data = selected_row.find_elements(By.TAG_NAME,"td")
    
    new_date = cell_data[0].text
    new_date = datetime.strptime(new_date, '%d %b, %Y')
    new_date = datetime.date(new_date)
    
    temp_dictionary['DATE'] = new_date
    temp_dictionary['DEBT/EQUITY'] = cell_data[1].text
    temp_dictionary['GROSS PURCHASES (RS.CRORE)'] = cell_data[2].text
    temp_dictionary['GROSS SALES (RS. CRORE)'] = cell_data[3].text
    temp_dictionary['NET INVESTMENT (RS. CRORE)'] = cell_data[4].text
    
    list_of_dictionaries.append(temp_dictionary)
    temp_dictionary = {}
    
    i+=1
    
    selected_row = list_of_rows[i]
    
    cell_data = selected_row.find_elements(By.TAG_NAME,"td")
    
    temp_dictionary['DATE'] = new_date
    temp_dictionary['DEBT/EQUITY'] = cell_data[0].text
    temp_dictionary['GROSS PURCHASES (RS.CRORE)'] = cell_data[1].text
    temp_dictionary['GROSS SALES (RS. CRORE)'] = cell_data[2].text
    temp_dictionary['NET INVESTMENT (RS. CRORE)'] = cell_data[3].text
    
    list_of_dictionaries.append(temp_dictionary)
    
    i+=1

ValueError: time data 'The above report is compiled on the basis of reports submitted to SEBI by custodians on 20 Jul, 2022 and constitutes trades conducted by Mutual Funds.' does not match format '%d %b, %Y'

In [6]:
df = pd.DataFrame(list_of_dictionaries)
df

,DATE,DEBT/EQUITY,GROSS PURCHASES (RS.CRORE),GROSS SALES (RS. CRORE),NET INVESTMENT (RS. CRORE)
0,2007-02-02,Equity,637.20,714.84,(77.64)
1,2007-02-02,Debt,105.97,182.63,(76.66)
2,2007-02-05,Equity,337.58,503.11,(165.53)
3,2007-02-05,Debt,146.14,213.54,(67.40)
4,2007-02-06,Equity,646.82,675.10,(28.28)
...,...,...,...,...,...
11799,2022-07-18,Debt,3151.87,3598.24,(446.37)
11800,2022-07-19,Equity,3598.03,3989.90,(391.87)
11801,2022-07-19,Debt,3492.87,3890.74,(397.87)
11802,2022-07-20,Equity,4292.58,4754.28,(461.70)
11803,2022-07-20,Debt,9368.38,9860.60,(492.22)

In [7]:
Equity_df = df[df['DEBT/EQUITY'] == 'Equity']
Equity_df = Equity_df.reset_index(drop = True)
Equity_df

,DATE,DEBT/EQUITY,GROSS PURCHASES (RS.CRORE),GROSS SALES (RS. CRORE),NET INVESTMENT (RS. CRORE)
0,2007-02-02,Equity,637.20,714.84,(77.64)
1,2007-02-05,Equity,337.58,503.11,(165.53)
2,2007-02-06,Equity,646.82,675.10,(28.28)
3,2007-02-07,Equity,762.85,800.69,(37.84)
4,2007-02-08,Equity,447.72,640.79,(193.07)
...,...,...,...,...,...
5897,2022-07-14,Equity,3014.80,3758.89,(744.09)
5898,2022-07-15,Equity,4141.84,3411.62,730.22
5899,2022-07-18,Equity,4388.50,3978.87,409.63
5900,2022-07-19,Equity,3598.03,3989.90,(391.87)
5901,2022-07-20,Equity,4292.58,4754.28,(461.70)

In [8]:
Debt_df = df[df['DEBT/EQUITY'] == 'Debt']
Debt_df = Debt_df.reset_index(drop = True)
Debt_df

,DATE,DEBT/EQUITY,GROSS PURCHASES (RS.CRORE),GROSS SALES (RS. CRORE),NET INVESTMENT (RS. CRORE)
0,2007-02-02,Debt,105.97,182.63,(76.66)
1,2007-02-05,Debt,146.14,213.54,(67.40)
2,2007-02-06,Debt,270.03,483.21,(213.18)
3,2007-02-07,Debt,362.80,379.69,(16.89)
4,2007-02-08,Debt,430.11,307.93,122.18
...,...,...,...,...,...
5897,2022-07-14,Debt,4045.72,3619.28,426.44
5898,2022-07-15,Debt,5004.42,4592.08,412.34
5899,2022-07-18,Debt,3151.87,3598.24,(446.37)
5900,2022-07-19,Debt,3492.87,3890.74,(397.87)
5901,2022-07-20,Debt,9368.38,9860.60,(492.22)